@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Kreon');

/**
 * General setup for layout.
 */
html {
    overflow-y: scroll;
    background-color: #686868;
}

body {
    margin: 0;
    background-color: #fff;
    word-wrap: break-word;
}

.outer-wrap {
    margin: 0 auto;
    background-color: #fff;
}

.inner-wrap {
    margin: 0 auto;
    padding: 0 0.5em;
    max-width: 680px;
    min-width: 320px;
}



/**
 * Header
 */
.outer-wrap-header {
    max-width: 100%;
    min-height: 2em;
    background-color: #000;
    color: #fff;
}

.outer-wrap-header {
    position: relative;
}

.inner-wrap-header {
    max-width: 100%;
}

.header-logo {
    position: absolute;
    top: 7em;
    left: 1em;
}

.site-title {
    padding: 0.25em 0;
    font-family: 'Righteous', serif;
    font-size: 1.5em;
}



/**
 * Navbar
 */
.outer-wrap-navbar {
    padding: 0.5em 0.5em 0;
    max-width: 100%;
    min-height: 2em;
    background-color: #263063;
    color: #fff;
    text-align: center;
    font-family: 'Righteous', serif;
    font-size: 1em;
}

.outer-wrap-navbar a {
    color: #fff;
}

.outer-wrap-navbar a:hover {
    color: #98c1d9;
}



/**
 * Flash
 */
.outer-wrap-flash {
    background-color: #000;
}

.flash {
    max-width: 100%;
}


/**
 * Main
 */
.outer-wrap-main {
    margin: 5em 0;
    min-height: 400px;
}

.wrap-main {
    line-height: 1.5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wrap-main h1 {
    border-bottom: 1px solid #999;
    font-family: Kreon, serif;
}

.wrap-main h2 {
    border-bottom: 1px solid #ccc;
    font-family: Kreon, serif;
}

.image-float-left {
    float: left;
    margin: 5px 20px 5px 5px;
    max-width: 50%;
}

.image-float-right {
    float: right;
    margin: 5px 5px 5px 20px;
    max-width: 50%;
}

.image-float-left a img,
.image-float-right a img {
    max-width: 100%;
}



/**
 * Footer
 */
.outer-wrap-footer {
    padding: 1em 0;
    max-width: 100%;
    min-height: 10em;
    background-color: #686868;
    color: #fff;
}

.footer-text {
    margin-top: 3em;
    text-align: center;
}



/**
 * CSS sprite for a dice with six faces.
 */
.dice-sprite {
    display: inline-block;
    padding: 0;
    margin: 0 4px 0 0;
    width: 32px;
    height: 32px;
    background: url(../img/dice-faces.jpg) no-repeat;
}

.dice-sprite.dice-1 { background-position: -160px 0; }
.dice-sprite.dice-2 { background-position: -128px 0; }
.dice-sprite.dice-3 { background-position: -96px 0; }
.dice-sprite.dice-4 { background-position: -64px 0; }
.dice-sprite.dice-5 { background-position: -32px 0; }
.dice-sprite.dice-6 { background-position: 0 0; }



/**
 * Responsive
 */
@media screen and (max-width: 960px) {
    .header-logo {
        display: none;
    }
}
